html {
    background-image:url('/static/images/bookshelf_background.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
}

body {
    min-height: 420px;
    width:76%;
    margin-left:auto;
    margin-right:auto;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width:76%;
    margin-left:auto;
    margin-right:auto;
    z-index:999;
}

article {

    width:90%%;
    border: 1px groove #A17157;
    padding: 10px;
    min-height: 190px;
}
.article-link{
    float:left;
    cursor:pointer;
    width:33%;
    padding-right:15px;
    margin-bottom: 14px;
    min-height: 300px;
}
.article-link .url-text {
    position: relative;
    display: none;
}
.article_button {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    background-color:#0d45ab;
    border:1px solid #142a54;
    display:inline-block;
    color:#DBDBDB;
    font-family:Arial;
    font-size:14px;
    padding:6px 11px;
    text-decoration:none;
    text-align:center;
    height:34px;
    min-width: 75px;
    margin-right:15px;
    z-index: 500;
    position:relative;
}

.article_button:hover {
    background-color:#7089DC;
}

.footer_button {
    background-color:#A4A5AB;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #080909;
    display:inline-block;
    cursor:pointer;
    color:#080909;
    font-family:Arial;
    font-size:20px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-right:15px;
}

.footer_button:hover {
    background-color:#7089DC;
}

.footer_button:active {
    position:relative;
    top:1px;
}

.tag {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#0db53a;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:7px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    /*display:inline-block;*/
    margin-right:10px;
}


#no-articles{
    text-align: center;
}

.no-articles-redirect{

}



/*http://stackoverflow.com/questions/10243440/how-to-creat-a-box-when-mouse-over-text-in-pure-css*/

#help-button {
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    position:fixed;
    left: 25px;
    top: 80px
}

#help-button:hover {
	opacity: 0.92;
    color: #00FF00;
}

#help-button:active {
	position:relative;
	top:1px;
}

.help-text {
    color: red;
    display: none;

    margin-top: 5px;
}

.help-button-dormant {
    background-color: red;
}

.help-button-active {
    background-color: blue;
}

.more-info {
    display: none;
}

.select2-hidden {
    display: none !important;
}

.message {
    font-size:22px;
    text-align:center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.advanced-search-form {
    display: none;
}
