{% extends 'base.html' %}

{% load bootstrap extras %}

{% block body_block %}

<style>
	footer{
		background: transparent;
	}

	div{
		display: block;
	}
</style>
	<form action="" method="post">
		{% csrf_token %}
		<input id="id_user" name="user" type="hidden" />

		<section id="url-and-title" class="row">
			<div class="col-md-8">

				<h4>URL</h4>
				<span>
					<div class="col-md-8" style="width:100%">
				        <input class="form-control" id="id_url" maxlength="256" name="url" placeholder="required" type="text" />
					</div>
				</span>

			</div>

			<div class="help-text" style="width:100%">
				<p>Try to avoid ugly urls like http://www.art.com/artgallery/default.asp?sid=9DF4BC%200580DF11D3ACB60090271E26A8&command=freelist</p>
				<p>That one should be cleaned to http://www.art.com/artgallery/</p>
				<p>They're often randomly generated and won't work in a few days.</p>
			</div>





			<div class="col-md-8">

				<h4>Title</h4>

				<div class="col-md-8">
			            <input class="form-control" id="id_title" maxlength="256" name="title" placeholder="I&#39;ll grab the page&#39;s title" type="text" />
				</div>
				<div class="help-text">
					<p>If you leave the title blank, it will try to find it on the page. This is usually what you see in the top of the screen (the tab).<p>
					<p>If it's a really important article, it's usually best to make a title you'll remember.</p>
				</div>
			</div>
		</section>

		<section id="multiple" class="row">
			<div class="col-md-8">

				<h4>Add existing tags</h4>
				<span>
					<select  style="width:90%;" multiple="multiple" id="existing_tags" name="existing_tags">
						{% for tag in tags %}
							<option value="{{tag.name}}">{{tag.name}}</option>
						{% endfor %}
					</select>
				</span>

				<div class="help-text" style="width:100%">
					<p>Add tags you've already created.</p>
					<p>This and 'new tags' are separated so you can hit enter quickly when your search matches a tag.</p>
				</div>

				<h4>Add new tags</h4>
				<span>
					<select  style="width:90%;" multiple="multiple" id="new_tags" name="new_tags"></select>
				</span>

				<div class="help-text">
					<p>Hit enter or comma (,) to make a new tag. Spaces are allowed, but they will be turned into dashes (-) to make tags easier to process.<p>
				</div>
			</div>
		</section>
		<br/>
		{% for space in user.space_set.all %}
			<button type="button" class="btn">{{ space.name }}</button>
		{% endfor %}
		<br/><br/>
		<input type="hidden" name="user" value="{{ request.user }}" />
		<input type="submit" name="submit" value="Add new article"/>
	</form>

	<!-- /*<style>
		.select2-drop {
	    	display: none !important;
		}
	</style>*/ -->

	<script type="text/javascript">
	$(document).ready(function() {
	    $("#existing_tags").select2({});
		$("#new_tags").select2({
	        tags: true,
	        tokenSeparators: [',']
	    });
	});

	</script>
{% endblock %}
