{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap add_get_parameter %}
{% load title_filter %}
{% load widget_tweaks %}


<!-- http://jsfiddle.net/RetMp/963/ -->

{% block body_block %}
            <style>
                {% if not articles %}
                    body{
                        cursor:pointer;
                    }
                {% endif %}

                .date_field {
                    position: relative;
                    z-index: 999;
                }
            </style>

    {% for message in messages %}
        <div style="color:green;font-size:22px;text-align:center;"><p>{{ message }}</p></div>
    {% endfor %}

    {% if articles %}

            <div style="width:94%;">
                    <div class="help-text">
                        <p>You can filter your articles by tags. Articles with the most tags matched come first, and all articles that have at least one tag will show up.</p>
                    </div>

                    <div>
                        <h4>Tags</h4>
                        <!-- the novalidate part is required now: http://stackoverflow.com/questions/22148080/an-invalid-form-control-with-name-is-not-focusable -->
                        <form id="category_form" method="post" action="{% url 'bookmarks:silo' %}" name="category_form" novalidate "enctype="multipart/form-data">
                              {% csrf_token %}

                              <section id="multiple" class="row">
                                  <div class="col-md-8">
                                      <span>
                                          <select  style="width:90%;" multiple="multiple" id="selected_tags" name="selected_tags">
                                              {% for tag in tags %}
                                                  {% if tag.slug in tags_chosen %}
                                                      <option selected="selected" value="{{tag.slug}}">{{tag.name}}</option>
                                                  {% else %}
                                                      <option value="{{tag.slug}}">{{tag.name}}</option>
                                                  {% endif %}
                                              {% endfor %}
                                          </select>
                                      </span>
                                   </div>
                              </section>
                              <br/>

                              <!-- making the jquery datepicker show up above the edit, archive, and delete buttons
                              http://stackoverflow.com/questions/11533161/jquery-ui-datepicker-change-z-index -->


                        <div class="advanced-search-form" id="advanced-search-form">
                            <h4>Filter by the day the article was added to BookwormBuddy:</h4>
                            <p><b>Start date:</b> {{ added_date_form.added_start_date|add_class:"date_field" }} <b>End date:</b> {{ added_date_form.added_end_date|add_class:"date_field" }}</p>
                            <br>
                            <h4>Filter by the last day the article was viewed:</h4>
                            <p><b>Start date:</b> {{ last_viwed_date_form.last_viewed_start_date|add_class:"date_field" }} <b>End date:</b> {{ last_viwed_date_form.last_viewed_end_date|add_class:"date_field" }}</p>
                        </div>
                        <br>
                        <p><input type="submit" name="submit" value="Search"/> <input type="button" id="advanced-search-button" class="advanced-search-button" value="Advanced search"></p>
                        <br/>
                    </form>
                    <br/>
                    </div>


                <div class="help-text">
                    <p>Click within the box for each article to open it in a new window.</p>
                    <p>"Archive" sends an article to a silo of old articles. Careful, "Delete" removes it permanently.</p>
                    <p>Articles are ordered by total amount of views by default. You can change this with the "Order by" tabs.</p>
                    <!-- <p>Settings can be changed in the "Settings" tab in the upper right hand "Account" box.</p> -->


                </div>

            	{% for article in articles %}
                    <div  class="col-md-4 article-link" data-article={{article.id}}>

                        <div class="panel panel-default hover hover-box">

                            <div class="panel-heading hover-box"><h4 class="url-link article-title">{{ article.title|shorten_title }}</h4></div>
                            <input type="button" class="more-info-button" value="More info">
                            <div class="more-info">
                                {% if article.last_read %}
                                    <p>Last viewed: {{ article.last_read }}</p>
                                {% else %}
                                    <p>Last viewed: never</p>
                                {% endif %}
                                <p>Created date: {{ article.created }}</p>
                                <p>Views: {{ article.viewed_count }}</p>
                                <p>URL: {{ article.url }}</p>
                            </div>
                            <p>&nbsp;<span class="url-text popup-span">{{ article.url }}</span></p>
                            <div class="panel-body">
                                <a href="{% url 'bookmarks:edit-article' article.id %}"><div class="article_button">Edit</div></a>
                                <a href="{% add_get archive=article.id %}"><div class="article_button"><p>Archive</p></div></a>
                                <a href="{% add_get delete=article.id %}"><div class="article_button">Delete</div></a>
                                <div style="margin-top:8px;">
                                    {% for tag in article.tags.all %}
                                        <p class="tag">{{ tag.name }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                          </div>
                    </div>
            	{% endfor %}
        </div>

    {% else %}
        <h2 style="text-align:center;">Go make some articles!</h2>
    {% endif %}



    <script>
        // limits article clicks to articles only, and not the upper right nav tab
        $('.article-link a').click(function(e){
          e.stopPropagation();
        });

        $('.article-link div .more-info-button').click(function(e){
          e.stopPropagation();
        });

        // allows to click on the entire box of an article and open new page
        $('.article-link').on('click',function(e){
            var url = $( this ).find( ".url-text" ).text();
            window.open(url, '_blank')

            var articleTitle = ($(this).find('div div .article-title').text());

            // sends ajax request updating info
            var articleId = $(this).attr('data-article');
            var recentlyViewedUrl = {% url 'bookmarks:recently-viewed-update' %};
            $.ajax({
                url: recentlyViewedUrl,
                type: 'POST',
                dataType: 'html',
                data: {
                    articleID: articleId,
                    ip: '104.131.73.226'
                },


            });

            return false;

        });

        // if there aren't any articles, turns the entire body into a link to add new articles
        {% if not articles %}
            var url = {% url 'bookmarks:new-article' %};
            $('body').on('click',function(e){
                window.location = url
            });
        {% endif %}



        function matchStart (term, text) {
            if (text.toUpperCase().indexOf(term.toUpperCase()) == 0) {
                return true;
            }

            return false;
        }

        // the select2 JS that makes it function
        $(document).ready(function() {
            // $.fn.select2.amd.require(['select2/compat/matcher'], function (oldMatcher) {
                $("#selected_tags").select2({
                    // matcher: oldMatcher(matchStart)
                });
            // });
        });

        // slide displays the "More info" button and changes it's name
        $(function(){
            $(".more-info-button").click(function(){
                if ( $(this).val() == "More info"){
                    $(this).val("Less info");
                } else {
                    $(this).val("More info");
                }

                $(this).parent().find('.more-info').slideToggle();
            });
        });

        // supposed to install the datepicker
        // http://hexonio.com/blog/2012/03/07/calendar-picker-django-forms/
        $(function() {
            $( "#id_added_start_date" ).datepicker();
            $( "#id_added_end_date" ).datepicker();
            $( "#id_last_viewed_start_date" ).datepicker();
            $( "#id_last_viewed_end_date" ).datepicker();
        });

        $(function(){
            $("#advanced-search-button").click(function(){

                $(".advanced-search-form").slideToggle();

                if ( $(this).val() == "Advanced search"){
                    $(this).val("Hide advanced search");
                } else {
                    $(this).val("Advanced search");
                }
            });
        });

    </script>

{% endblock %}
